.about__top {
  max-width: 1240px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}
.about__top__picture {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.about__dropdown {
  width: 1023px;
  margin: 30px auto;
}
