@use "../assets/styles/mixins" as mixin;

.home__tagline {
  max-width: 1240px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  @include mixin.lg-lt {
    width: 90%;
  }
  @include mixin.xs {
    width: 335px;
    height: 111px;
  }
}
.home__tagline__picture {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  @include mixin.md-lt {
    height: 200px;
  }
}
.home__tagline__text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  @include mixin.lg-lt {
    font-size: 30px;
  }
  @include mixin.md-lt {
    left: 40%;
  }

  @include mixin.xs {
    font-size: 24px;
    top: 85%;
  }
}

.home__location {
  background-color: #f6f6f6;
  margin: auto;
  max-width: 1240px;
  border-radius: 25px;
  @include mixin.lg-lt {
    width: 90%;
    background-color: white;
  }
}
.home__location__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px;

  @include mixin.xs {
    gap: 20px;
  }
}
