.houseform__slider {
  margin-bottom: 50px;
}

.houseform__body {
  max-width: 1240px;
  margin: auto;

  .houseform__body__top {
    display: flex;
    justify-content: space-between;
    h1 {
      font-weight: 500;
      font-size: 36px;
      line-height: 25px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .houseform__body__top__tags {
    display: flex;
  }

  .houseform__body__top__tags__text {
    width: 120px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
    line-height: 25px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary);
    margin-bottom: 50px;
  }

  .houseform__body__top__host {
    display: flex;

    p {
      width: 80px;
      padding: 10px 0px;
      font-weight: 500;
      font-size: 18px;
      text-align: right;
      margin: 0;
    }

    .houseform__body__top__host__picture {
      width: 64px;
      height: 64px;
      margin-left: 15px;
      border-radius: 50%;
    }
  }
}

.houseform__body__dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  .houseform__body__dropdown__title {
    display: flex;
    justify-content: space-between;
    height: 52px;
    border-radius: 10px;
    padding: 16px 20px 13px 20px;
    color: white;
    background-color: var(--primary);
    width: 582px;
    position: relative;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
    img {
      color: white;
      width: 26.4px;
      height: 15.5px;
    }
  }
  .houseform__body__dropdown__text {
    font-size: 18px;
    font-weight: 400;
    min-height: 249px;
    width: 582px;

    background-color: var(--gray-1);
    border-radius: 10px;
    padding: 80px 15px 50px 20px;
    margin-top: -10px;
  }
}
