@use "../assets/styles/mixins" as mixin;

.houseform__slider {
  margin-bottom: 50px;
}

.houseform__body {
  max-width: 1240px;
  margin: auto;
  @include mixin.lg-lt {
    width: 90%;
  }

  .houseform__body__top {
    display: flex;
    justify-content: space-between;

    @include mixin.lg-lt {
      flex-direction: column;
    }
    h1 {
      font-weight: 500;
      font-size: 36px;
      line-height: 25px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .houseform__body__top__tags {
    display: flex;
  }

  .houseform__body__top__tags__text {
    width: 120px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary);
    margin-bottom: 50px;
  }

  .houseform__body__top__right {
    @include mixin.lg-lt {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  .houseform__body__top__rating {
    @include mixin.lg-lt {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .houseform__body__top__host {
    display: flex;
    padding: 0;

    p {
      width: 80px;
      padding: 10px 0px;
      font-weight: 500;
      font-size: 18px;
      text-align: right;
      margin: 0;
    }

    .houseform__body__top__host__picture {
      width: 64px;
      height: 64px;
      margin-left: 15px;
      border-radius: 50%;
    }
  }
}

.houseform__body__dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 340px;

  .houseform__body__dropdown__left {
    width: 582px;
  }
  .houseform__body__dropdown__right {
    width: 582px;
  }
}
