@use "../assets/styles/mixins" as mixin;

.card {
  position: relative;
  background-color: #f6f6f6;
}

.card__picture {
  height: 340px;
  width: 340px;
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
  @include mixin.xs {
    width: 335px;
    height: 255px;
  }
}

.card__picture__text {
  position: absolute;
  color: white;
  top: 268px;
  left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;

  @include mixin.xs {
    top: 198px;
  }
}
