.slider {
  position: relative;
  height: 415px;
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slider__slides {
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.slider__rightArrow {
  height: 20%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 32px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slider__leftArrow {
  height: 20%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 72px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

// .slide {
//   opacity: 0;
//   transition-duration: 1s ease;
// }

// .slideActive {
//   opacity: 1;
//   transition-duration: 1s;
// }
