@use "../assets/styles/mixins" as mixin;

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  @include mixin.lg-lt {
    width: 90%;
  }

  @include mixin.xs {
    width: 335px;
    height: 255px;
  }
}

.houseform__slider {
  position: relative;

  @include mixin.xs {
    margin-bottom: 0px;
  }
}

.slider__slides {
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;

  @include mixin.xs {
    width: 335px;
    height: 255px;
  }
}

.slider__rightArrow {
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

.slider__leftArrow {
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.slide {
  opacity: 0;
}

.slideActive {
  opacity: 1;
}
